# Core Data and Notebook Libraries
pandas
numpy
jupyter
notebook
nbconvert
ipython

# Google Sheets and Authentication
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2

# Other Utilities
Pillow
traitlets
jinja2
diffusers==0.20.2
featuretools

pandas-gbq==0.20.0
snowflake-connector-python
pytest-shutil
mysql-connector-python
