name: Run Snowflake Task Daily  

on:                             
  schedule:
    - cron: '0 7 * * *'
  workflow_dispatch:

jobs:                         
  run-snowflake:
    runs-on: ubuntu-latest

    steps:
      # ---------------------- Checkout repo ----------------------
      - name: Checkout Repository
        uses: actions/checkout@v3

      # ---------------------- Set up Python ----------------------
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # ---------------------- Install dependencies ----------------------
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install snowflake-connector-python
          pip install yagmail

      # ---------------------- Run Snowflake Script ----------------------
      - name: Run Snowflake Script
        run: python snowflake_task.py
        env:
          SNOW_USER: ${{ secrets.SNOW_USER }}
          SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}
          SNOW_ACCOUNT: ${{ secrets.SNOW_ACCOUNT }}
          SNOW_WH: ${{ secrets.SNOW_WH }}
          SNOW_DB: ${{ secrets.SNOW_DB }}
          SNOW_SCHEMA: ${{ secrets.SNOW_SCHEMA }}
          SNOW_ROLE: ${{ secrets.SNOW_ROLE }}

      # ---------------------- Commit executed notebook ----------------------
      - name: Commit executed notebook
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          mkdir -p executed_notebooks
          mv "executed_notebook_20251122_183224.ipynb" executed_notebooks/ || echo "No notebook to move"
          git add executed_notebooks/
          if ! git diff-index --quiet HEAD; then
            git pull --rebase origin main || true
            git commit -m "Add executed notebook: executed_notebook_20251122_183224.ipynb"
            git push origin HEAD:main
          else
            echo "No changes to commit."

      # ---------------------- Send Result Email ----------------------
      - name: Send Result Email
        if: always()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.SENDER_EMAIL }}
          password: ${{ secrets.SENDER_PASSWORD }}
          subject: "GitHub Daily Run Status: ${{ job.status }}"
          body: |
            Hello Team,

            The GitHub scheduled workflow has finished.

            Status: ${{ job.status }}

            Best Regards,
            GitHub Automation
          to: |
            Mohamed.othman@arabyads.com
            mahmoud.soror@arabyads.com
            ahmed.salah@arabyads.com
          from: "GitHub Automation <${{ secrets.SENDER_EMAIL }}>"
